html {
  font-family: "lora" serif;
  font-style: italic;
  background-color: burlywood;
}
h1 {
  font-size: 60px;
  text-align: center;
  color: darkred;
  padding: 20px;
  text-shadow: -3px 3px 3px maroon;
  margin: 20px;
}
p,
li {
  font-size: 20px;
  line-height: 2;
  letter-spacing: 1px;
}
body {
  margin: 50px auto;
  width: 600px;
  background-color: brown;
  padding: 30px;
  border: 5px solid peru;
  border-radius: 10px;
  color: tomato;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
a {
  color: pink;
  text-decoration: none;
}
